version: 2.1
executors:
  react-native-executor:
    docker:
      - image: circleci/node:16.18.0
    environment:
      NPM_CONFIG_LOGLEVEL: info

jobs:
  build:
    executor: react-native-executor
    steps:
      - checkout

      - restore_cache:
          key: dependency-cache-{{ checksum "package-lock.json" }}

      - run:
          name: Install dependencies
          command: npm ci

      - save_cache:
          key: dependency-cache-{{ checksum "package-lock.json" }}
          paths:
            - node_modules

      - run:
          name: Build and test
          command: npm run test

workflows:
  version: 2
  build-deploy:
    jobs:
      - build