version: 2.1
orbs:
  node: circleci/node@5.1.0

jobs:
  build:
    docker:
      # replace with your preferred image
      - image: cimg/base:stable    
    steps:
      - node/install:
          node-version: '16.18.0' 
          install-yarn: false 
      - run:
          name: Install dependencies
          command: npm ci
      - save_cache:
          key: dependency-cache-{{ checksum "package-lock.json" }}
          paths:
            - node_modules
      - run:
          name: Build and test
          command: npm run test

workflows:
  version: 2
  build-deploy:
    jobs:
      - build